<%- include('common/header.html') -%>
    	<h1><%= title %></h1>
    	<p>Welcome to <%= user %></p>
        <% if(post){ %>
            <% var title = post.title, path = post.path, myCateId = post.cate,summary = post.summary,article = post.article,articleHtml = post.articleHtml; %>
        <% } %>

    	<form class="form-horizontal" action="/post" method="post" role="form">
            <input type="hidden" name="path" id="articlePath" value="<%= path %>" class="ipt" />

            <div class="form-group">
                <label class="col-sm-1 control-label" for="name">标题：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" name="article_title" id="articleTitle" value="<%= title ? title : '' %>">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="name">类目：</label>
                <div class="col-sm-4">
                    <select class="form-control" name="cate" id="cate">
                        <option value="0">未分类</option>
                        <% if (cate) { %>
                            <% for(var i = 0;i< cate.length;i++){ %>
                                <option value="<%= cate[i].cateId %>" <%= myCateId ? 'selected' : '' %>><%= cate[i].cateName %></option>
                            <% } %>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label" for="name">摘要：</label>
                <div class="col-sm-4">
                    <textarea class="form-control" name="article_summary" id="articleSummary" rows="2"><%= summary ? summary : '' %></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" for="name">内容：</label>
                <div class="col-sm-5">
                    <textarea class="form-control" name="article_con" id="articleCon" oninput="this.editor.update()" rows="8"><%= article ? article : '' %></textarea>
                </div>
                <div class="col-sm-5" id="preview"><%- articleHtml ? articleHtml : '' %></div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-5">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </div>
    	</form>

        <script>
            function Editor(input, preview) {
                this.update = function() {
                    preview.innerHTML = markdown.toHTML(input.value);
                };
                input.editor = this;
                this.update();
            }
            new Editor(document.getElementById('articleCon'), document.getElementById('preview'));
        </script>
<%- include('common/footer.html') -%>