<%- include('common/header.html') -%>
    	<h1><%= title %></h1>
    	<!-- <p>Welcome to <%= title %></p>
    	<p>Welcome <%= user? user : "游客" %></p> -->


    	
		<!-- <a href="#" id="getNew">获取最新文章</a>
		<div id="myArticle"></div> -->

		<h2>最新文章</h2>
    	<div class="news" id="myPost">
    		<% if(myPost && myPost.length){ %>
    			<ul>
    			<% for(var i = 0;i<myPost.length;i++){ %>
    				<li><a href="/p/<%= myPost[i].path %>"><%= myPost[i].title %></a>[<%= myPost[i].addDate %>]</li>
    			<% } %>
    			</ul>
    		<% } else { %>
    			暂无数据
    		<% } %>
    	</div>

	    <!-- <ul class="pagination">
		  	<li><a href="#">&laquo;</a></li>
		  	<li class="active"><a href="#">1</a></li>
		  	<li class="disabled"><a href="#">2</a></li>
		  	<li><a href="#">3</a></li>
		  	<li><a href="#">4</a></li>
		  	<li><a href="#">5</a></li>
		  	<li><a href="#">&raquo;</a></li>
		</ul>

		<div class="alert alert-success">成功！很好地完成了提交。</div>
		<div class="alert alert-info">信息！请注意这个信息。</div>
		<div class="alert alert-warning">警告！请不要提交。</div>
		<div class="alert alert-danger">错误！请进行一些更改。</div> -->
<!-- <script src="js/index.js"></script> -->
<%- include('common/footer.html') -%>