<%- include('common/header.html') -%>
    	<h1><%= title %></h1>
    	<p>Welcome to <%= user %></p>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">个人资料</a></li>
        <li role="presentation"><a href="#">图像</a></li>
        <li role="presentation"><a href="#">其他</a></li>
    </ul>
    <div class="tabs-content">
        <div class="panel">

        </div>
        <div class="panel">
            <form class ="form-horizontal" enctype='multipart/form-data' method='post' action='javascript:;' role = "form" id = "frmUploadFile">
                <div class = "form-group">
                    <label class = "control-label col-sm-2">上传选择</label>
                        <div class = "col-sm-4">
                            <input type = "file" name = "files" class = "form-control" />
                        </div>
                </div>
                <div class = "form-group">
                    <div class = "col-sm-offset-2 col-sm-4">
                        <button class = "btn btn-primary" id="uploadFile">上传</button>
                        <span class = "help-inline" id = "spanMessage">选择文件，并上传</span>
                    </div>
                </div>
            </form>
            <div class = "row" style = "text-align: center">
                <img id = "imgShow" />
            </div>



        </div>
    </div>
<script src="js/myinfo.js"></script>

<%- include('common/footer.html') -%>