<%- include('common/header.html') -%>
    	<h1><%= title %></h1>
    	<p>Welcome to <%= user %></p>


    	<form action="/post" method="post">
    		<div class="reg_item">
    			<label for="">标题</label>
    			<input type="text" name="article_title" id="articleTitle" class="ipt" />
    		</div>
            <div class="reg_item">
                <label for="">内容</label>
                <textarea name="article_con" id="articleCon" cols="40" rows="5"></textarea>
            </div>
    		<div class="reg_item">
    			<label for="">摘要</label>
                <textarea name="article_summary" id="articleSummary" cols="40" rows="2"></textarea>
    		</div>
    		<div class="reg_item">
    			<label for=""> </label>
    			<input type="submit" class="btn" />
    		</div>
    	</form>

        <% if (success) { %>
            <div class="alert alert-success"><%= success %></div>
        <% } %>
        <% if (error) { %>
            <div class="alert alert-danger"><%= error %></div>
        <% } %>
<%- include('common/footer.html') -%>