<%- include('common/header.html') -%>
    	<h1><%= title %></h1>

        <form class="form-horizontal" role="reg" action="/reg" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">用户名：</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="name" autocomplete="off" id="name" placeholder="请输入您的用户名">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="password">密码：</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control"name="password" id="password" placeholder="请输入您的密码">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="email">Email：</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="请输入您的邮箱地址">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-5">
                    <button type="submit" class="btn btn-primary">注册</button>
                </div>
            </div>
    	</form>
<%- include('common/footer.html') -%>