<%- include('common/header.html') -%>
    	<h1><%= title %></h1>
    	<p>Welcome to <%= title %></p>
    	<p>Welcome to <%= user %></p>


    	<form action="/reg" method="post">
    		<div class="reg_item">
    			<label for="">用户名</label>
    			<input type="text" name="name" id="name" class="ipt" />
    			<div class="alert alert-warning" id="alertWarning" style="display:none;">警告！请不要提交。</div>
    		</div>
    		<div class="reg_item">
    			<label for="">Email</label>
    			<input type="text" name="email" id="email" class="ipt" />
    		</div>
    		<div class="reg_item">
    			<label for="">密码</label>
    			<input type="password" name="password" id="password" class="ipt" />
    		</div>
    		<div class="reg_item">
    			<label for=""> </label>
    			<input type="submit" class="btn" />
    		</div>
    	</form>
    	<% if (success) { %>
    		<div class="alert alert-success"><%= success %></div>
		<% } %>
		<% if (error) { %>
			<div class="alert alert-danger"><%= error %></div>
		<% } %>
<%- include('common/footer.html') -%>