<%- include('common/header.html') -%>
    	<h1><%= title %></h1>
    	
		<h2>搜索结果如下：</h2>
    	<div class="search" id="mySearch">
    		<% if(data && data.length){ %>
    			<ul>
    			<% for(var i = 0;i<data.length;i++){ %>
    				<li>
    					<a href="/p/<%= data[i].path %>"><%= data[i].title %></a>[<%= data[i].addDate %>]
    					<p><%= data[i].summary %></p>
    				</li>
    			<% } %>
    			</ul>
    		<% } else { %>
    			暂无数据
    		<% } %>
    		
    	</div>

        <ul class="pagination" id="pagination">  
            <% var totalRecords = paging.totalRecords; %>
            <% var totalPages = paging.totalPages; %>
            <% var pageSize = paging.pageSize %>
            <% var currentPage = parseInt(paging.currentPage) %>
             <!-- 只有一页内容  -->
            <% if(totalRecords<=pageSize){ %> 
                
            <%  } %> 
            <!-- 上一页  -->
            <% if(currentPage>1){ %> 
                <li><a href="/search/<%= (currentPage-1) %>?k=<%= k %>">上一页</a></li> 
            <%  } %> 
            <!-- 生成分页  -->
            <%  for(var i=0;i<totalPages;i++){   %> 
                <%  if(i>=(currentPage-3) && i<(currentPage+3)){   %> 
                    <%  if(i==currentPage-1){   %> 
                        <li class="active"><a href="/search/<%= (i+1)%>?k=<%= k %>"><%= (i+1)%></a></li> 
                    <%  }else{   %> 
                        <li><a href="/search/<%= (i+1)%>?k=<%= k %>"><%= (i+1)%></a></li> 
                    <%  }   %> 
                <%  }   %> 
            <%  }   %> 
            <!-- 下一页  -->
            <%  if(currentPage<totalPages){   %> 
                    <li><a href="/search/<%= (currentPage + 1) %>?k=<%= k %>">下一页</a></li> 
            <%  }   %> 

            <!-- <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="disabled"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li> -->
        </ul>

<%- include('common/footer.html') -%>

