<!DOCTYPE html>
<html>
  	<head>
  		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title><%= title %></title>
	    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
  	<body>
  		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
			    <a class="navbar-brand" href="/">nodejs</a>
			</div>
			<div>
			    <ul class="nav navbar-nav">
			        <li class="active"><a href="/">首页</a></li>
			        <li><a href="/home">用户中心</a></li>
			        <li><a href="/reg">注册</a></li>
			        <li><a href="/login">登录</a></li>
			        <li><a href="/logout">退出</a></li>
			        <li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			                Java 
			                <b class="caret"></b>
			            </a>
			            <ul class="dropdown-menu">
			               	<li><a href="#">jmeter</a></li>
			               	<li><a href="#">EJB</a></li>
			               	<li><a href="#">Jasper Report</a></li>
			             	<li class="divider"></li>
			               	<li><a href="#">分离的链接</a></li>
			               	<li class="divider"></li>
			               	<li><a href="#">另一个分离的链接</a></li>
			            </ul>
			        </li>
			    </ul>
			</div>
		</nav>


		<!-- <ul class="nav nav-pills">
		   	<li class="active"><a href="#">Home</a></li>
		   	<li><a href="#">SVN</a></li>
		   	<li><a href="#">iOS</a></li>
		   	<li><a href="#">VB.Net</a></li>
		   	<li><a href="#">Java</a></li>
		   	<li><a href="#">PHP</a></li>
		</ul> -->